$theme-color: #2f7fe3;
$header-color: #304156;
$tags-view-active: #2f7fe3;
$cancel-button: #111;
$border-bottom: 1px solid #e0e0e0;
$succes-color: #13ce66;
$title-color: #fff;
$contain-bg-color: #f2f2f2;
