//侧边栏
$sideBarWidth: 210px;
// 主题一
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$subMenuActiveText: #f4f4f5;

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

// 主题二

// $menuText: #616161;
// $menuActiveText: #409eff;
// $subMenuActiveText: #409eff;

// $menuBg: #fff;
// $menuHover: #ecf5ff;

// $subMenuBg: #fff;
// $subMenuHover: #ecf5ff;

/* stylelint-disable */
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
@import "./sidebar.scss";
