<template>
  <div class="layout-con">
    <el-container>
      <el-header>
        <div class="header-con">
          <div class="title">
            <!-- <img src="@/assets/image/title.png" /> -->
            <span>后台管理系统</span>
          </div>
          <el-dropdown placement="bottom" trigger="hover">
            <div class="info-con">
              <el-avatar class="avatar" :src="imgUrl ? imgUrl : avatarDef" alt />
              <div class="name" @click="userInfoClick">{{ name }}</div>
            </div>
            <el-dropdown-menu slot="dropdown" :visible-arrow="true" class="dropdown">
              <!-- <el-dropdown-item>
              <router-link to="/personal" tag="div">个人设置</router-link>
            </el-dropdown-item> -->
              <el-dropdown-item>
                <div @click="loginout">退出账号</div>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </el-header>
      <el-container>
        <el-aside width="200px">
          <el-menu :default-active="activeIndex" class="el-menu-vertical-demo" router>
            <el-menu-item index="/index">
              <i class="el-icon-s-order"></i>
              <span slot="title">案件管理</span>
            </el-menu-item>
            <el-menu-item index="/userInfo">
              <i class="el-icon-s-tools"></i>
              <span slot="title">个人信息</span>
            </el-menu-item>
          </el-menu>
        </el-aside>
        <el-main class="contain">
          <div class="contain-wrapper">
            <router-view></router-view>
          </div>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import avatarDef from "@/assets/image/avatar.png";
export default {
  name: "Layout",
  data() {
    return {
      activeIndex: "/caseManagement",
      avatarDef: avatarDef,
      roles: sessionStorage.role,
      name: sessionStorage.officerName,
      imgUrl: sessionStorage.img
    };
  },
  watch: {
    $route: {
      handler(to) {
        this.activeIndex = to.path;
      },
      immediate: true
    }
  },
  methods: {
    userInfoClick() {
      this.$router.push("/userInfo");
    },
    loginout() {
      sessionStorage.clear();
      location.reload();
    }
  }
};
</script>

<style lang="scss" scoped>
.layout-con {
  display: flex;
  height: 100vh;

  .header-con {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
      margin-left: 10px;
      font-size: 34px;

      img {
        height: 40px;
      }
    }

    .info-con {
      display: flex;
      align-items: center;

      .avatar {
        width: 40px;
        height: 40px;
        vertical-align: middle;
        border-radius: 20px;
      }

      .name {
        margin-left: 15px;
        color: $title-color;
        cursor: pointer;
      }
    }

    .loginout {
      margin-top: 4px;
      margin-left: 20px;
      color: $title-color;
    }
  }

  .el-header {
    display: flex;
    color: $title-color;
    background-color: $header-color;
  }

  .el-aside {
    border-right: solid 1px #e6e6e6;
    // background-color: $header-color;
    .el-menu {
      border: none;
    }
  }

  .contain {
    background-color: $contain-bg-color;
  }

  .contain-wrapper {
    padding: 20px;
    background-color: #fff;
  }
}
</style>
