<template>
  <div class="user-Info">
    <div class="personal-header">
      <div class="info-img">
        <div class="upload-group">
          <el-upload
            class="upload"
            ref="upload-head"
            action="/api/mediationOfficer/uploadImg"
            :on-error="uploadHeadError"
            :on-success="uploadHeadSuccess"
            :data="uploadData"
            :show-file-list="false"
          >
            <button class="upload-head">
              <el-avatar class="avatar" :src="personInfo.img || require('@/assets/image/avatar.png')" />
              <div>编辑头像</div>
            </button>
          </el-upload>
        </div>
        <div class="user-group">
          <div class="user-title">基本资料</div>
          <div v-if="optionType == 'normal'">
            <!-- 用户名区域 -->
            <div class="info-img-font">
              <div class="info-account-font">
                <div>账号：</div>
                <div>{{ personInfo.loginName || "未命名用户" }}</div>
              </div>
              <el-button class="edit-btn" @click="editorInfo" type="primary">编辑资料</el-button>
            </div>

            <!-- 姓名区域 -->
            <div class="info-name-font">
              <div>姓名：</div>
              <div>{{ personInfo.name || "未命名用户" }}</div>
            </div>

            <!-- 密码区域 -->
            <div class="info-password">
              <div class="info-password-title">密码：</div>
              <div class="show-password">
                <div class="password-text">
                  <span class="pwd-text-width" v-if="showPwd">
                    <span class="star"></span>
                  </span>
                  <span class="pwd-text-width" v-else>{{ personInfo.password }}</span>
                </div>

                <i class="el-icon-view" @click="showHiddenPwd"></i>
              </div>
            </div>

            <!--电话区域 -->
            <div class="person-role">
              <span class="person-role-title">电话：{{ personInfo.phone }}</span>
            </div>
          </div>

          <div v-else class="edit-group">
            <!-- 用户名区域 -->
            <div class="edit-line">
              <div>账号：</div>
              <el-input v-model="loginName"> </el-input>
            </div>

            <!-- 姓名区域 -->
            <div class="edit-line">
              <div>姓名：</div>
              <el-input v-model="name"> </el-input>
            </div>

            <!-- 密码区域 -->
            <div class="edit-line">
              <div>密码：</div>
              <el-input class="pwd-text-width" v-model="password"> </el-input>
            </div>

            <!--电话区域 -->
            <div class="edit-line">
              <div>电话：</div>
              <el-input class="pwd-text-width" v-model="phone"> </el-input>
            </div>

            <div class="edit-group-btn">
              <el-button class="edit-btn" @click="cancelInfo" plain>取消</el-button>
              <el-button class="edit-btn" @click="saveInfo" type="primary">保存</el-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getPersonInfo, savePersonInfo } from "@/api/info";
import { modificationInfo } from "@/api/user";

import rules from "@/assets/js/utils/rules";
export default {
  name: "UserInfo",
  mounted() {
    this.getInfo();
  },
  data() {
    return {
      showEditorName: true,
      textarea1: "",
      infoShow: true, //编辑简介的显隐
      showPwd: true,
      rules,
      pwdForm: {
        password: "", //密码
        password2: "" //验证密码
      },
      centerDialogVisible: false, //密码弹窗
      changedUserInfo: { name: "1111" },
      originalInfo: { name: "22222" },
      personInfo: {},
      optionType: "normal",

      loginName: "",
      name: "",
      password: "",
      phone: ""
    };
  },
  computed: {
    uploadData() {
      return {
        userId: this.personInfo.uuid
      };
    }
  },
  components: {},
  methods: {
    //获取信息
    getInfo() {
      getPersonInfo().then(res => {
        console.log(res.data);
        this.personInfo = res.data.user;
      });
    },

    //上传头像成功
    uploadHeadSuccess(response, file, fileList) {
      if (response.status !== 1) {
        this.$message.error("上传失败:" + response.msg);
        return;
      } else {
        this.personInfo.img = response.data;
        this.$store.commit("user/SET_AVATAR", response.data);
      }
    },
    uploadHeadError(e) {
      e => this.$message.error("上传失败", e);
    },

    //编辑资料
    editorInfo() {
      this.optionType = "editor";
      this.loginName = this.personInfo.loginName;
      this.name = this.personInfo.name;
      this.password = this.personInfo.password;
      this.phone = this.personInfo.phone;
    },

    cancelInfo() {
      this.optionType = "normal";
      this.loginName = "";
      this.name = "";
      this.password = "";
      this.phone = "";
    },

    saveInfo() {
      this.optionType = "normal";

      const data = {
        uuid: this.personInfo.uuid,
        officerName: this.personInfo.officerName,
        img: this.personInfo.img,
        profile: this.personInfo.profile,
        loginName: this.personInfo.loginName,
        loginPWD: this.pwdForm.password2,
        role: this.personInfo.role
      };

      //modificationInfo 按需引入
      modificationInfo(data).then(res => {
        this.$message({
          type: "success",
          message: "资料修改成功"
        });
        this.centerDialogVisible = false;
        this.getInfo();
      });
    },

    //显隐密码
    showHiddenPwd() {
      this.showPwd = !this.showPwd;
    },

    //编辑密码
    editorPwd() {
      this.centerDialogVisible = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.user-Info {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.personal-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.upload-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img {
  width: 100%;
  height: 100%;
}

.avatar {
  width: 110px;
  height: 110px;
}

.info-img-font {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0 20px 0;
  font-size: 16px;

  .info-account-font {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

.info-name-font {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 15px 0 20px 0;
  font-size: 16px;
}

.upload-head {
  width: 110px;
  height: 110px;
  padding: 0;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.upload-head-icon {
  width: 50px;
  opacity: 60%;
  transform: translate(0, -71px);
}

.info-password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;

  .show-password {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;

    .el-icon-view {
      cursor: pointer;
    }

    .password-text {
      .pwd-text-width {
        display: inline-block;
        width: 300px;

        .star::before {
          display: inline-block;
          width: 20px;
          height: 10px;
          height: 20px;
          font-size: 14px;
          line-height: 23px;
          text-align: center;
          vertical-align: middle;
          content: "***************************";
        }
      }
    }
  }

  .info-password-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
  }

  .el-input {
    width: 200px;
  }

  .icon-bianji {
    margin-left: 10px;
    line-height: 100%;
    cursor: pointer;
  }
}

.person-role {
  margin-bottom: 20px;

  .person-role-title {
    display: inline-block;
    font-size: 16px;
  }

  .person-role-text {
    display: inline-block;
    font-size: 16px;
  }
}

.person-info {
  .person-info-nameGroup {
    margin-bottom: 5px;
  }

  .info-name {
    display: inline-block;
    font-size: 16px;
  }

  .info-text {
    width: 500px;
    font-size: 14px;
    line-height: 2;
  }

  .icon-bianji {
    cursor: pointer;
  }

  .infor-textarea {
    width: 500px;
  }

  .person-info-button {
    margin-top: 10px;
    text-align: right;
  }
}

.button {
  height: 30px;
  padding: 5px 10px;
}

.user-group {
  width: 1000px;

  .user-title {
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 1px solid $theme-color;
  }
}

.edit-group {
  margin-top: 20px;
}

.edit-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;

  ::v-deep .el-input {
    width: 300px;
  }
}

.edit-group-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  ::v-deep .el-button {
    margin-right: 15px;
  }
}
</style>
