<template>
  <div ref="editor" class="editor">
    <input
      v-if="!editorContent && showPlaceholder"
      :placeholder="placeholder"
      class="placeholder-style"
      @focus="showPlaceholder = false"
    />
    <p v-if="defaultText" v-html="defaultText"></p>
  </div>
</template>

<script>
import E from "wangeditor";
import "@/assets/js/wangEditor/custom-menu";

export default {
  name: "TextEditor",
  props: {
    //placeholder文本值
    placeholder: {
      type: String,
      default: ""
    },
    // 富文本初始值
    defaultText: {
      type: String,
      default: "请输入内容"
    }
  },
  data() {
    return {
      showPlaceholder: true,
      editor: "",
      editorContent: "",
      editorText: "",
      fileList: []
    };
  },
  mounted() {
    this.initEditor();
  },
  watch: {
    editorContent(newV, oldV) {
      const content = this.editorContent;
      const regexImg = /<img.*?src="(.*?)".*?\/?>/gi;
      const regexIframe = /<iframe(([\s\S])*?)<\/iframe>/gi;
      if (!this.editorText && !regexImg.test(content) && !regexIframe.test(content)) {
        this.editorContent = "";
      }
    }
  },
  methods: {
    initEditor() {
      const that = this;
      const inputImg = /<input.*?\/?>/gi;
      E.config.printLog = false;
      this.editor = new E(this.$refs.editor);
      this.editor.config.menus = [
        "source",
        "|",
        "lineheight",
        "indent",
        "bold",
        "underline",
        "italic",
        "strikethrough",
        "eraser",
        "forecolor",
        "bgcolor",
        "|",
        "quote",
        "fontfamily",
        "fontsize",
        "head",
        "unorderlist",
        "orderlist",
        "alignleft",
        "aligncenter",
        "alignright",
        "|",
        "link",
        "unlink",
        // "table",
        "emotion",
        "|",
        "img",
        "video",
        "symbol",
        "insertcode",
        "|",
        "undo",
        "redo",
        "fullscreen"
      ];
      this.$refs.editor.addEventListener("paste", event => {
        event.preventDefault();
      });
      this.editor.config.uploadImgUrl = `${this.BASE_API}/api/v1/image/base64`;
      this.editor.config.uploadHeaders = {
        Authorization: this.$store.getters.token
      };
      this.editor.config.uploadImgFileName = "file";
      // 取消粘贴过滤
      this.editor.config.pasteFilter = true;
      this.editor.config.pasteText = true;

      // 自定义load事件 （后台存储）
      this.editor.config.uploadImgFns.onload = function (resultText, xhr) {
        const result = JSON.parse(resultText);
        // 上传失败
        if (result.status === 2) {
          that.$message.error(result.msg || "错误");
        }
        //修复初始化后插入图片失效，勿删
        this.$txt.context.click();

        // resultText 服务器端返回的text
        // xhr 是 xmlHttpRequest 对象，IE8、9中不支持
        // 上传图片时，已经将图片的名字存在 editor.uploadImgOriginalName
        const originalName = this.uploadImgOriginalName || "";
        this.command(
          null,
          "insertHtml",
          '<img src="' + JSON.parse(resultText) + '" alt="' + originalName + '" style="max-width:60%;"/>'
        );
      };

      // 自定义timeout事件
      this.editor.config.uploadImgFns.ontimeout = function (xhr) {
        // xhr 是 xmlHttpRequest 对象，IE8、9中不支持
        that.$message.error("上传超时");
      };

      // 自定义error事件
      this.editor.config.uploadImgFns.onerror = function (xhr) {
        // xhr 是 xmlHttpRequest 对象，IE8、9中不支持
        that.$message.error("上传错误", xhr);
      };
      this.editor.onchange = () => {
        this.editorContent = this.editor.$txt.html().replace(inputImg, "");
        this.editorText = this.editor.$txt.text();
      };

      this.editor.create();
      this.editor.$txt.blur();
      this.editor.$txt.context.onfocus = () => {
        this.showPlaceholder = false;
      };
      this.editor.$txt.context.onblur = () => {
        this.showPlaceholder = true;
      };
      this.editorContent = this.editor.$txt.html().replace(inputImg, "");
      this.editorText = this.editor.$txt.text();
    },
    clearEditor() {
      this.editor.clear();
    }
  }
};
</script>

<style lang="scss" scoped>
.editor {
  height: auto !important;
  min-height: 130px;
  max-height: 700px;
  color: #000;
  text-align: left;

  /deep/ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
  }

  /deep/ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
  }
}

.placeholder-style {
  width: 100%;
  margin: 10px 0 4px 4px;
  font-size: 16px;
  color: #aaa;
  background: #fff;
  border: none;
  outline: none;
}

.placeholder-style::placeholder {
  color: #aaa;
}
// [contenteditable="true"]:empty:before,
// div[placeholder]:empty:before {
//   content: attr(placeholder);
//   display: block;
//   color: #aaa;
//   outline: 0;
//   line-height: 1.8;
// }
</style>
