<template>
  <div class="editor-wrap">
    <textarea ref="editor" :placeholder="defaultText"></textarea>
  </div>
</template>
<script>
import Prism from "prismjs";

export default {
  model: {
    prop: "value",
    event: "change"
  },
  props: {
    value: {
      type: String,
      default: ""
    },
    // 富文本初始值
    placeholder: {
      type: String,
      default: ""
    },
    // placeholder文本值
    defaultText: {
      type: String,
      default: "请输入内容"
    }
  },
  data() {
    return {
      editor: null,
      editorContent: "",
      editorText: ""
    };
  },
  mounted() {
    this.initTiny();
  },
  methods: {
    initTiny() {
      try {
        const self = this;
        this.editor = tinymce.init({
          target: this.$refs.editor,
          language: "zh_CN",
          min_height: 130,
          max_height: 700,
          menubar: false,
          statusbar: false,
          // toolbar: false,
          toolbar_mode: "sliding",
          toolbar:
            "undo redo | fullscreen | formatselect alignleft aligncenter alignright alignjustify  |lineheight indent outdent   | numlist bullist |  link image media table |codesample charmap kityformula-editor|  fontselect fontsizeselect forecolor backcolor | bold italic underline strikethrough| superscript subscript |  preview print",
          plugins:
            "link image table lists fullscreen codesample autoresize charmap preview print media kityformula-editor",
          // external_plugins: { tiny_mce_wiris: "http://47.105.112.81:8080/tiny_mce_wiris/plugin.min.js" },
          codesample_languages: [
            { text: "HTML/XML", value: "markup" },
            { text: "JavaScript", value: "javascript" },
            { text: "CSS", value: "css" },
            { text: "PHP", value: "php" },
            { text: "Ruby", value: "ruby" },
            { text: "Python", value: "python" },
            { text: "Java", value: "java" },
            { text: "C", value: "c" },
            { text: "C#", value: "csharp" },
            { text: "C++", value: "cpp" }
          ],
          file_picker_types: " image ",
          file_picker_callback(callback, value, meta) {
            // 文件分类
            let filetype = ".pdf, .txt, .zip, .rar, .7z, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .mp3, .mp4";
            // 后端接收上传文件的地址
            const upurl = `${self.BASE_API}/api/v1/image/base64`;
            // 为不同插件指定文件类型及后端地址
            switch (meta.filetype) {
              case "image":
                filetype = ".jpg, .jpeg, .png, .gif";
                break;
              case "media":
                filetype = ".mp3, .mp4";
                break;
              case "file":
              default:
            }
            // 模拟出一个input用于添加本地文件
            const input = document.createElement("input");
            input.setAttribute("type", "file");
            input.setAttribute("accept", filetype);
            input.click();
            input.onchange = function () {
              const file = this.files[0];
              const xhr = new XMLHttpRequest();
              xhr.withCredentials = false;
              xhr.open("POST", upurl);
              xhr.setRequestHeader("Authorization", self.$store.getters.token);

              xhr.onload = function () {
                const json = JSON.parse(xhr.responseText);
                // 上传失败
                if (json.status === 2) {
                  self.$message.error(json.msg);
                  return;
                }
                if (xhr.status != 200) {
                  self.$message.error(`HTTP Error: ${xhr.status}`);
                  return;
                }
                if (!json) {
                  self.$message.error(`Invalid JSON: ${xhr.responseText}`);
                  return;
                }
                callback(json);
              };
              xhr.onerror = function () {
                self.$message.error(`Image upload failed due to a XHR Transport error. Code: ${xhr.status}`);
              };
              const formData = new FormData();
              formData.append("file", file, file.name);
              xhr.send(formData);
            };
          },

          // 编辑器实例初始化完成的回调
          init_instance_callback: editor => {
            // 数据双向绑定
            self.$nextTick(() => {
              const { placeholder, value } = self;
              if (placeholder) {
                editor.setContent(placeholder);
                self.editorText = editor.getContent({ format: "text" });
                self.editorContent = placeholder;
              }
              if (value) {
                editor.setContent(value);
                self.editorText = editor.getContent({ format: "text" });
                self.editorContent = value;
              }
              // 双向绑定数据
              self.$watch("value", (val, prevVal) => {
                if (editor && typeof val === "string" && val !== self.editorContent && val !== prevVal) {
                  editor.setContent(val);
                  self.editorText = editor.getContent({ format: "text" });
                  self.editorContent = val;
                }
              });
              editor.on("change keyup undo redo", () => {
                self.editorContent = editor.getContent();
                self.editorText = editor.getContent({ format: "text" });
                self.$emit("change", self.editorContent);
              });
            });
          }
        });
      } catch (e) {
        console.log(e);
      }
    }
  }
};
</script>
