<template>
  <div class="icon-kong-wrapper">
    <i class="iconfont icon-kong1"></i>
    <div class="icon-kong-font">暂无内容</div>
  </div>
</template>

<script>
export default {
  name: "",
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
@import "~@/style/icon.scss";

.icon-kong-wrapper {
  width: 100%;
  // height: 100%;
  border: none;
}
</style>
