<template>
  <div id="app" class="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>
<style lang="scss" scoped>
.app {
  overflow-x: auto;
  overflow-y: hidden;
}
</style>

<style lang="scss"></style>
